.main_area{
  width: 100%;
  height: 100vh;
  background-image: url("../../images/WIN_20250411_16_19_14_Pro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}